:root{
 --off-white: hsl(36, 100%, 99%);
 --grayish-blue: hsl(233, 8%, 79%);
 --dark-grayish-blue: hsl(236, 13%, 42%);
 --very-dark-blue: hsl(240, 100%, 5%);
 --soft-orange: hsl(35, 77%, 62%);
 --soft-red: hsl(5, 85%, 63%);

}



.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


body{
    font-family: 'Inter', sans-serif;
    padding: 3% 12%;
    background-color: var(--off-white);
}


/* Navbar */

.navbar{
    background-color: var(--off-white);
    
}

.nav-link{
    font-weight: 500;
}


.container-fluid{
    padding: 0;
}


/* Main Body Section */

#main-section{
    margin: 0;
    padding-top: 2%;
}


#content-row-1{
    padding: 2rem 0 0;
    background-color: var(--off-white);

}

#content-row-1 p{
    color: var(--dark-grayish-blue);
}

#left-column-main{
    padding: 0 2.5rem 0 0; /* here 2.5rem to right */
    margin: 0;
}

#left-column-main div{
    margin: 0;
}

#left-column-main img{
    padding: 0;
}

.main-image-1 {
    width: 100%;
    padding: 0;
    display: block;
}

.main-image-2{
    display: none;
}

#left-column-heading{
    padding: 0 2rem 0 0;
}

#right-column-content{
    padding: 0 15px 0 0;
    /* margin-bottom: 50px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

h2{
    font-weight: 800;
    font-size: 3.5rem;
    padding-right: 0.5rem;
}

.button{
    background-color: var(--soft-red);
    text-decoration: none;
    color: var(--off-white);
    padding: 15px 30px;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    margin-top: 25px;
}

#main-right-column{
    background-color: var(--very-dark-blue);
    color: white;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


h4{
    color: var(--soft-orange);
    font-size: 2.25rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

h6{
    font-size: 1.25rem;
    color: var(--off-white);
    font-weight: 700;
}

.right-column-items p{
    font-size: 1rem;
    color: var(--grayish-blue);
}

/* Other Articles Section */


#other-articles{
    margin-top: 50px;
}

.article-card{
    display: flex;
}

.article-images{
    width: 130px;
    padding-right: 25px;
}

.article-number{
    color: var(--grayish-blue);
    font-size: 2rem;
    font-weight: 700;
}

.headline-sub{
    font-size: 1.2rem;
    font-weight: 800;
}

.article-card p{
    color: var(--dark-grayish-blue);
}


/* Active States */
.nav-link:hover {
    color: var(--soft-orange);
}

.right-column-items h6:hover{
    color: var(--soft-orange);
}

.button:hover{
    background-color: var(--very-dark-blue);
}

.headline-sub:hover{
    color: var(--soft-red);
}

/* MEdia Queries */

@media (max-width: 992px){

    body{
        padding: 3% 6%;
    }

    .article-card{
        margin: 20px 0;
    }

    #left-column-main{
        padding: 0;
    }


    #main-right-column{
        margin: 50px 0 0 0;
        padding: 20px;
    }

    .main-image-1{
        display: none;
    }
    .main-image-2{
        display: block;
        width: 100%;
    }
}

